@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Kdam+Thmor+Pro&family=M+PLUS+1+Code:wght@300&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import './reset.css';
@import './resetWindow.css';

body {
    font-family: 'Courier New', Courier, monospace;
  background-color: rgba(30, 30, 30);
}

/* #root{
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: auto auto;
	width: 100%;
	max-width: 1920px;
	max-height: 1080px;
	height: 100vh;
	background-color: rgba(30, 30, 30);
	border: 2px solid white;
} */
#root {
  display: grid;
  grid-template-columns: 130px 1050px 130px;
  grid-template-areas:
    'leftSide middle rightSide'
    'leftSide middle rightSide';
  height: auto;
  justify-content: center;
  border: 2px solid red;
  max-width: auto;
  max-height: auto;
  min-width: max-content;
  min-height: max-content;
}
.leftSide {
  /* font-family: 'Bebas Neue'; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  /* justify-content: center; */
  grid-area: leftSide;
  color: white;
  border: 2px solid blue;
  /* background-color: aqua; */
  background-color: blue;
}
.current,
.best {
  margin: 130px auto;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  /* background-color:rgb(197, 13, 13); */
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-area: middle;
  /* background-color: rgb(131, 13, 13); */
  /* background-color: rgb(15, 15, 15); */
  background-color: rgb(15, 15, 15);
  border: 3px solid green;
}
.rightSide {
  grid-area: rightSide;
  border: 2px solid blue;;
  /* width: 100%; */
  /* background-color: aqua; */
}

.game-background-choses {
  display: flex;
  width: 90%;
  height: 100px;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: scroll;
    border: 2px solid white;
}
.game-background-choses::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
  border-radius: 30px;
}

.game-background-choses::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255);
  background-color: rgba(110, 98, 98, 0.5);
  border-radius: 30px;
}
.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  /* height: 70%; */
  margin: 0 auto 20px auto;
  border: 3px solid green;
  position: relative;
}
@media screen and (min-height: 800px) {
    #root{
        grid-template-columns: 150px 1600px 150px;
    }
    .board-wrapper{
        width: 1500px;
        height: 770px;
    }
    
}

#board {
  border: 4px solid rgb(255, 255, 255);
  width: 99%;
  height: 98%;
  /* height: max-content; */
  /* min-height: max-content; */

  background-image: url(../images/one.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fa-palette,
.fa-brush {
  background-color: transparent;
  font-size: 50px;
  color: white;
  padding: 10px;
  height: 60%;
  margin: auto auto;
}

.img-c {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin: auto auto;
}
.img-c img {
  border-radius: 30%;
  border: 2px solid white;
  width: 150%;
  height: 70px;
  margin: auto auto;
  object-fit: cover;
  transition: 0.3s;
}
.img-c img:hover {
  transform: scale(1.05);
}
.drop-down-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* @media screen and (min-width: 1400px) {
  #root {
    grid-template-columns: 100px 1400px 100px;
  }
} */
