@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import './reset.css';

#root{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	
	height: 100vh;
	background-color: rgba(30, 30, 30);
}
.game-background-choses{
	width: 10%;
	margin: 0 10px 0 0;
	/* border: 2px solid black; */
}
#board{
	border: 1px solid black;
	width: 85%;
	height: auto;
	
	background-image: url(../images/one.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	object-fit: cover;

}
.fa-palette, .fa-brush{
	background-color: transparent;
	display: block;
	font-size:  40px;
	text-align: center;
	color: white;
	padding: 10px;
}

.img-c{
	width: 100%;

}

.img-c img{
	border-radius: 30%;
	border: 2px solid white;
	width: 100%;


}

.drop-down-images{
	display: none;
	/* background-color: rgb(158, 154, 154); */
}

